td {
    padding: 3px;
    font-family: monospace;
}

tr {
    margin-top: 0;
    margin-bottom: 0;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

.raw-data {
    color: #ccc;
}

.column-name {
    font-weight: bold;
}